* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media (min-width: 350px) {

    html,
    body {
        background-color: rgb(232, 232, 232);
    }

    body {
        font-family: "Abordage";
        font-size: 1.4rem;
        color: black;
        min-width: 100vw;
        min-height: 100vh;
        text-align: justify;
        overflow-x: hidden;

        p {
            margin: 0;
        }

        a {
            text-decoration: none;
            color: black;
        }
    }

    /* NAVBAR */
    .navbar .burger-menu-button {
        color: black;
        cursor: pointer;
        display: none;
        display: block;
    }

    .container_menu {
        display: flex;
        justify-content: space-between;
        padding: 20px 50px 20px 50px;
    }

    .navbar .links {
        display: none;
    }

    .logo img {
        width: 250px;
    }

    header {
        position: relative;
        background-color: rgb(65, 238, 186);
    }

    .navbar {
        display: flex;
        align-items: end;
        justify-content: center;
    }

    li {
        list-style: none;
    }

    .burger-menu {
        display: block;
        height: 0;
        position: absolute;
        width: 100%;
        overflow: hidden;
        transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        background-color: rgb(65, 238, 186);
    }

    .burger-menu.open {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .burger-menu.open a {
        font-size: 4rem;
    }

    .links {
        margin: 0;
        padding: 0;
    }

    .burger-menu li {
        padding: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .burger-menu-button i {
        padding: 15px;
        transform: scale(3);
    }

    /* NAVBAR */

    /* FORM */
    input[type=text],
    input[type=email],
    input[type=password] {
        width: 100%;
        padding: 12px;
        border: none;
        outline: none;
        border-bottom: 1px solid rgb(92, 91, 91);
        border-radius: 0;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        margin-right: 0px;
        margin-left: 0px;
        resize: vertical;
        background-color: transparent;
        font-size: 1.3rem;
    }

    label {
        margin-right: 0px;
        margin-left: 0px;
        width: 100%;
        font-size: 1.3rem;
    }

    input[type=submit] {
        background-color: rgb(65, 238, 186);
        color: black;
        padding: 12px 20px;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        margin-bottom: 10px;
        font-size: 1.3rem;
    }

    .foot_form {
        justify-content: center !important;
        flex-direction: column;
        text-align: center;
        font-size: 1.2rem;
    }

    input[type=submit]:hover {
        background-color: rgb(232, 232, 232);
    }

    .container {
        box-sizing: border-box;
        border-radius: 60px;
        padding: 30px 50px 30px 50px;
        width: 100%;
        max-width: 530px;
        margin-top: 40px;
        /* background-color: rgb(212, 212, 212); */
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }

    h1 {
        padding: 20px 20px 40px 20px;
        font-family: "Lemon Milk";
        font-weight: 600;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .container a {
        padding-bottom: 5px;
        display: flex;
        justify-content: center;
        font-size: 1rem;
    }
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 768PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 768px) {
    #footer {
        background-color: #000000;
        color: white;
        width: 100%;
        font-size: 1rem;
    }

    .credits {
        margin: 0 50px;
    }

    .copyright {
        font-family: "Lemon Milk";
    }
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1000PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1000px) {
    body {
        font-family: "Abordage";
        font-size: 1.5rem;
    }

    /* NAVBAR */
    .navbar {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px 110px 10px 110px;
        background-color: rgb(59, 106, 236);
    }

    .navbar .burger-menu-button {
        display: none;
    }

    .navbar .links {
        display: flex;
        justify-content: space-between;
    }

    .burger-menu {
        display: none;
    }

    .links {
        width: 100%;
        font-size: 1.2rem;
    }

    .container_menu {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .logo img {
        width: 400px;
        padding: 15px 110px 15px 110px;
    }

    /* NAVBAR */
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1200PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1200px) {

    /* NAVBAR  */
    .navbar {
        padding: 10px 140px 10px 140px;
        display: flex;
        justify-content: center;
    }

    .navbar .links {
        display: flex;
        justify-content: space-between;
    }

    .links {
        font-size: 1.3rem;
    }

    .logo img {
        width: 500px;
        padding: 20px 140px 20px 140px;
    }

    /* NAVBAR  */
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1500PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1500px) {

    /* NAVBAR */
    .navbar {
        display: flex;
        justify-content: center;
    }

    .navbar .links {
        display: flex;
        justify-content: space-between;
    }

    /* NAVBAR */
}