* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 768px) {
    html,
    body {
        background-color: rgb(232, 232, 232);
    }

    body {
        font-family: "Abordage";
        font-size: 1.4rem;
        color: black;
        min-width: 100vw;
        min-height: 100vh;
        text-align: justify;
        overflow-x: hidden;

        p {
            margin: 0;
        }

        a {
            text-decoration: none;
            color: black;
        }
    }

    .container_homepage {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    #header {
        display: flex;
        justify-content: space-between;
        align-items: end;
        /* background-color: rgb(154, 236, 152); */
        background-color: rgb(65, 238, 186);
    }

    .logo {
        padding: 70px;

        img {
            width: 600px;
        }
    }

    .navbar {
        padding: 70px;

        button {
            background-color: rgb(59, 106, 236);;
        }
    }

    #projet,
    #fonctionnement,
    #adhesion,
    #contact,
    #partenaires {
        height: 100%;
        margin: 0 70px;
    }

    #deposer {
        width: 100%;
        height: 100%;
    }

    #footer {
        background-color: #000000;
        color: white;
        width: 100%;
        font-size: 1rem;
    }

    .credits {
        margin: 0 70px;
    }

    .copyright {
        font-family: "Lemon Milk";
    }

    .p_description {
        margin-top: 50px;
        font-size: 1.9rem;
        text-align: justify;
    }

    .scrolling-text-container {
        width: 100%;
        overflow: hidden;
    }

    .scrolling-text {
        font-size: 1.9rem;
        white-space: nowrap;
        animation: scrollText 18s linear infinite;
    }

    @keyframes scrollText {
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(-100%);
        }
    }

    .bordure {
        border: 1px solid black;
    }

    .title {
        font-family: "Lemon milk";
        font-weight: 600;
        font-size: 2.8rem;
        padding-left: 40px;
        text-align: left;
    }

    .circle {
        width: 70px;
        height: 70px;
        background-color: rgb(0, 0, 0);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.8rem;
        font-family: "Lemon milk";
        font-weight: 600;
        color: #fff;
    }

    .stage {
        display: flex;
        align-items: center;
    }

    .corners {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }

    .corner {
        border-radius: 25px;
        border: 2px solid #000000;
        padding: 30px;
        width: 490px;
        height: fit-content;
        font-size: 1.8rem;
        line-height: 1.7;
        background-color: white;
        box-shadow: 0px 0px 10px 5px rgb(255, 255, 255);
    }

    .list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .toggle-table {
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .toggle-table i {
        margin-left: auto;
    }

    .hidden {
        display: none;
    }

    .big-title {
        display: flex;
        justify-content: center;
        font-family: "Lemon Milk";
        font-weight: 600;
        font-size: 5rem;
    }

    .big-title-two {
        font-family: "Lemon Milk";
        font-weight: 600;
        font-size: 5rem;
    }

    .rectangle {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .rectangle-green-one {
        box-sizing: border-box;
        width: 50%;
        height: 350px;
        /* background-color: rgb(154, 236, 152); */
        background-color: rgb(65, 238, 186);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .rectangle-green-two {
        box-sizing: border-box;
        width: 50%;
        height: 350px;
        /* background-color: rgb(154, 236, 152); */
        background-color: rgb(65, 238, 186);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .rectangle-gray-one {
        box-sizing: border-box;
        width: 50%;
        height: 350px;
        background-color: rgb(232, 232, 232);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .rectangle-gray-two {
        box-sizing: border-box;
        width: 50%;
        height: 350px;
        background-color: rgb(232, 232, 232);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .border-container {
        /* width: calc(100% - 20px);  */
        height: calc(100% - 20px);
        border-left: 30px solid black;
        border-right: 30px solid black;
        position: relative;
    }
}

.icon {
    width: 280px;
}

.arrow-up {
    display: flex;
    justify-content: end;
}

h2 {
    font-family: "Lemon Milk";
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
}

.swipe-text {
    display: inline-block;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.swipe-text:hover {
    transform: translateX(10px);
}

.mail {
    font-size: 3rem;
}

.text_line span {
    text-decoration: underline;
}

.logo_partenaires {
    display: flex;
    align-items: center;
    width: 50px;
    height: auto;

    div {
        margin-right: 30px;
    }

    .RM {
        width: 100px;
        height: auto;
    }

    .AURA {
        width: 150px;
        height: auto;
    }

    .PF {
        width: 120px;
        height: auto;
    }

    .CDD {
        width: 90px;
        height: auto;
    }

    .OU {
        width: 130px;
        height: auto;
    }
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1000PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1000px) {
    body {
        font-family: "Abordage";
        font-size: 1.7rem;
    }

    #header {
        flex-direction: column;
        align-items: start;
        background-color: rgb(65, 238, 186);
    }

    .logo {
        background-color: rgb(65, 238, 186);

        img {
            width: 800px;
        }
    }

    .navbar {
        padding: 5px 140px;
        display: flex;
        justify-content: space-between;
    }

    .container-fluid {
        width: 100vw;
        background-color: rgb(59, 106, 236);
        /* background-color: rgb(165, 116, 245); */
        /* background-color: rgb(0, 249, 37); */
    }

    .logo {
        padding-left: 140px;
        padding-right: 140px;
    }

    #projet,
    #fonctionnement,
    #adhesion,
    #contact,
    #partenaires {
        height: 100%;
        margin: 0 140px;
    }

    .title {
        font-size: 2rem;
    }

    .credits {
        margin: 0 140px;
    }

    .p_description {
        font-size: 2.3rem;
    }

    .scrolling-text {
        font-size: 2.3rem;
    }

    .corners {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }

    .corner {
        width: 450px;
        height: fit-content;
        font-size: 1.7rem;
    }

    .rectangle {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .rectangle-green-one {
        height: 315px;
    }

    .rectangle-green-two {
        height: 315px;
    }

    .rectangle-gray-one {
        height: 315px;
    }

    .rectangle-gray-two {
        height: 315px;
    }

    .icon {
        width: 300px;
    }

    .border-container {
        width: calc(100% - 17px);
        height: calc(100% - 20px);
        border-left: 30px solid black;
        border-right: 30px solid black;
        position: relative;
    }

    .title {
        font-size: 2.5rem;
    }

    .circle {
        width: 90px;
        height: 90px;
        font-size: 2.4rem;
    }

    .big-title {
        font-size: 5.5rem;
    }

    .big-title-two {
        font-size: 5.5rem;
    }

    .mail {
        font-size: 2.8rem;
    }

    .logo_partenaires {
        display: flex;
        align-items: center;
        height: auto;

        div {
            margin-right: 30px;
        }
    }

    h2 {
        font-size: 3rem;
    }
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1200PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1200px) {
    h2 {
        font-size: 5rem;
    }

    .title {
        font-size: 4rem;
    }

    .circle {
        font-size: 4rem;
    }

    .big-title {
        font-size: 7rem;
    }

    .big-title-two {
        font-size: 7rem;
    }

    .mail {
        font-size: 3.8rem;
    }

    .logo_partenaires {
        display: flex;
        align-items: center;
        width: 50px;
        height: auto;

        div {
            margin-right: 30px;
        }

        .RM {
            width: 120px;
            height: auto;
        }

        .AURA {
            width: 200px;
            height: auto;
        }

        .PF {
            width: 140px;
            height: auto;
        }

        .CDD {
            width: 110px;
            height: auto;
        }

        .OU {
            width: 150px;
            height: auto;
        }
    }

    .icon {
        width: 400px;
    }

    .logo img {
            width: 800px;
        }

    .navbar {
        padding: 5px 140px;
        display: flex;
        justify-content: space-between;
    }

    .logo {
        padding-left: 140px;
        padding-right: 140px;
    }

    #projet,
    #fonctionnement,
    #adhesion,
    #contact,
    #partenaires {
        height: 100%;
        margin: 0 140px;
    }

    .rectangle-green-one {
        height: 400px;
    }

    .rectangle-green-two {
        height: 400px;
    }

    .rectangle-gray-one {
        height: 400px;
    }

    .rectangle-gray-two {
        height: 400px;
    }

    .corners {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: start;
    }

}