* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Abordage";
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 350px) {
    html,
    body {
        background-color: rgb(218, 218, 218);
    }



}