* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media (min-width: 350px) {

    html,
    body {
        background-color: rgb(247, 245, 216);
    }

    body {
        font-family: "Abordage";
        color: black;
        min-width: 100vw;
        min-height: 100vh;
        text-align: justify;
        overflow-x: hidden;

        p {
            margin: 0;
            font-size: 2.7rem;
        }

        a {
            text-decoration: none;
            color: black;
        }
    }

    /* NAVBAR */
    .navbar .burger-menu-button {
        color: black;
        cursor: pointer;
        display: none;
        display: block;
    }

    .container_menu {
        display: flex;
        justify-content: space-between;
        padding: 20px 50px 20px 50px;
    }

    .navbar .links {
        display: none;
    }

    .logo img {
        width: 250px;
    }

    header {
        position: relative;
        background-color: rgb(27, 237, 177);
    }

    .navbar {
        display: flex;
        align-items: end;
        justify-content: center;
    }

    li {
        list-style: none;
    }

    .burger-menu {
        display: block;
        height: 0;
        position: absolute;
        width: 100%;
        overflow: hidden;
        transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        background-color: rgb(27, 237, 177);
    }

    .burger-menu.open {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .burger-menu.open a {
        font-size: 4rem;
    }

    .links {
        margin: 0;
        padding: 0;
    }

    .burger-menu li {
        padding: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .burger-menu-button i {
        padding: 15px 0 15px 0;
        transform: scale(4.5);
    }

    .fa-solid.fa-bars,
    .fa-solid.fa-xmark {
        padding-right: 10px;
    }

    .dropdown-menu_one {
        z-index: 100;
        border: 2px solid black;
        display: none;
        position: absolute;
        justify-content: center;
        padding: 10px;
        width: 280px;
        margin-left: 20px;
        background-color: rgb(243, 237, 79);
        text-align: center;
    }

    .dropdown:hover .dropdown-menu_one {
        display: block;
    }

    .dropdown-menu_two {
        z-index: 100;
        border: 2px solid black;
        display: none;
        position: absolute;
        justify-content: center;
        padding: 10px;
        width: 280px;
        margin-left: 20px;
        background-color: rgb(243, 237, 79);
        text-align: center;
    }

    .dropdown:hover .dropdown-menu_two {
        display: block;
    }

    .circle_menu {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: black;
    }

    /* NAVBAR */

    /* NAV TWO */
    .nav-two {
        height: 100px;
        background-color: rgb(247, 245, 216);
        box-shadow: 2px 2px 10px 1px rgb(156, 156, 154);
        padding: 70px 0 70px 50px;
        display: flex;
        align-items: center;
        gap: 100px;
    }

    h1 {
        font-size: 2.5rem;
        margin: 0;
    }

    .fa-solid.fa-chevron-left {
        font-size: 50px;
    }

    .avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 20px;
    }

    .info_user {
        display: flex;
        flex-direction: column;
    }

    span {
        font-family: "Lemon milk";
        font-size: 2.5rem;
    }

    /* NAV TWO */

    /* ALL MESSAGE */

    .description_announce {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 50px;
    }

    .text_announce p {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .look_announce {
        font-size: 2.5rem;
    }

    .img_announce img {
        width: 210px;
        height: 210px;
        border-radius: 50%;
    }

    span {
        font-family: "Lemon milk";
        font-size: 2.5rem;
    }

    .icons_announce {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .icons_announce i {
        font-size: 75px;
    }

    /* ALL MESSAGE */

    .container_one {
        box-sizing: border-box;
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        padding: 50px 50px 20px 50px;
        margin: 0;
    }

    .container_two {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 50px 50px 20px 50px;
        margin: 0;
    }


    /* CONVERSATION */

    .message_user_two {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: end;
    }

    .bubble_one {
        width: 60vw;
        height: fit-content;
        padding: 40px;
        background-color: white;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 80px;
    }

    .bubble_two {
        width: 60vw;
        height: fit-content;
        padding: 40px;
        background-color: white;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 80px;
    }

    .datetime_one {
        font-size: 1.7rem;
        padding-top: 12px;
        padding-left: 40px;
    }

    .datetime_two {
        font-size: 1.7rem;
        padding-top: 12px;
        padding-right: 40px;
    }

    /* CONVERSATION */


    /* BUTTON SEND */

    .message-input {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        padding: 25px;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
        background-color: rgb(27, 237, 177);
        display: flex;
        align-items: center;
    }

    textarea {
        width: calc(100% - 70px);
        height: 60px;
        border: none;
        outline: none;
        border-radius: 5px;
        resize: none;
        font-size: 2.2rem;
        background-color: rgb(27, 237, 177);
    }

    .fa-regular.fa-paper-plane {
        font-size: 50px;
        cursor: pointer;
        padding: 5px;
    }

    /* BUTTON SEND */

}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1000PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1000px) {

    p {
        font-size: 1.7rem;
    }

    /* NAVBAR */
    .navbar {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px 110px 10px 110px;
        background-color: rgb(243, 237, 79);
        box-shadow: 2px 2px 10px 1px rgb(243, 237, 79);
    }

    .circle_menu {
        width: 17px;
        height: 10px;
        border-radius: 50%;
        background-color: black;
    }

    .navbar .burger-menu-button {
        display: none;
    }

    .navbar .links {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .burger-menu {
        display: none;
    }

    .links {
        width: 100%;
        font-size: 1.2rem;
    }

    .container_menu {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .logo img {
        width: 400px;
        padding: 15px 110px 15px 110px;
    }

    /* NAVBAR */

}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1200PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1200px) {

    body {
        p {
            font-size: 1.1rem;
            text-align: start;
        }
    }

    /* NAVBAR  */
    .navbar {
        padding: 10px 140px 10px 140px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar .links {
        display: flex;
        justify-content: space-between;
    }

    .links {
        font-size: 1.3rem;
    }

    .logo img {
        width: 500px;
        padding: 20px 140px 20px 140px;
    }

    /* NAVBAR  */

    /* NAV TWO */
    .nav-two {
        height: 80px;
        background-color: rgb(247, 245, 216);
        box-shadow: 2px 2px 10px 1px rgb(156, 156, 154);
        padding: 0 140px 0 140px;
        display: flex;
        align-items: center;
    }

    .fa-solid.fa-chevron-left {
        font-size: 50px;
    }

    .info_user {
        display: flex;
        flex-direction: column;
    }

    h1 {
        padding-left: 630px;
    }

    span {
        font-family: "Lemon milk";
        font-size: 1.3rem;
    }

    /* NAV TWO */


    /* CONTAINER */
    .all_container {
        display: flex;
    }

    .container_one {
        display: flex;
        align-items: start;
        flex-direction: row;
        width: 30%;
        padding: 0px 0 0 140px;
    }

    .container_two {
        width: 70%;
        display: flex;
        flex-direction: column;
        padding: 50px 140px 0 30px;
        position: relative;
        padding-bottom: 240px;
    }

    /* CONTAINER */


    /* ALL MESSAGES */

    .description_announce {
        padding-top: 50px;
    }

    .text_announce p {
        font-size: 1.1rem;
        line-height: 1.6rem;
    }

    .look_announce {
        font-size: 1.1rem;
    }

    .img_announce img {
        width: 90px;
        height: 90px;
        border-radius: 50%;
    }

    .icons_announce {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .icons_announce i {
        font-size: 33px;
    }

    /* ALL MESSAGES */



    /* CONVERSATION */

    /* .message_user_one {} */

    .message_user_two {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: end;
    }

    .avatar {
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
    }

    .bubble_one {
        width: 40vw;
        height: fit-content;
        padding: 30px;
        background-color: white;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 60px;
    }

    .bubble_two {
        width: 40vw;
        height: fit-content;
        padding: 30px;
        background-color: white;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 60px;
    }

    .datetime_one {
        font-size: 1rem;
        padding-top: 10px;
        padding-left: 30px;
    }

    .datetime_two {
        font-size: 1rem;
        padding-top: 10px;
        padding-right: 30px;
    }

    /* CONVERSATION */


    /* BUTTON SEND */

    .message-input {
        position: absolute;
        bottom: 0;
        left: 0; /* Alignez-le sur le côté gauche du conteneur */
        width: 100%;
        background-color: #ffffff;
        padding: 25px;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
        background-color: rgb(27, 237, 177);
        display: flex;
        align-items: center;
        z-index: 999; /* Pour s'assurer que la barre de saisie reste au-dessus du contenu défilant */
    }

    textarea {
        font-size: 1.3rem;
    }

    .fa-regular.fa-paper-plane {
        font-size: 30px;
    }

    /* BUTTON SEND */


    /* SCROLLBAR */
    .scrollbar {
        float: left;
        height: 300px;
        width: 65px;
        overflow-y: scroll;
        margin-bottom: 25px;
    }

    .force-overflow {
        min-height: 450px;
    }

    #wrapper {
        text-align: center;
        width: 500px;
        margin: auto;
    }

    #style-1::-webkit-scrollbar-track {
        border: 1px solid black;
        background-color: #F5F5F5;
    }

    #style-1::-webkit-scrollbar {
        width: 20px;
        background-color: #F5F5F5;
    }

    #style-1::-webkit-scrollbar-thumb {
        background-color: #000000;
    }

    /* SCROLLBAR */
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1500PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1500px) {

    /* NAVBAR */
    .navbar {
        display: flex;
        justify-content: center;
    }

    .circle_menu {
        width: 25px;
        height: 16px;
    }

    .navbar .links {
        display: flex;
        justify-content: space-between;
    }

    /* NAVBAR */

}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1800PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1800px) {}